@import '~quill/dist/quill.snow.css';

body {
    font-family: sans-serif;
}

#html-editor>div:nth-child(1) {
    display: none !important;
}

#editor {
    height: 300px;
    /* Adjust as needed */
    border: 1px solid #ccc;
}

#editor img,
#editor iframe {
    border-radius: 30px;
    /* Adjust the radius as needed */
    /* Optionally, add border and box-shadow for better appearance */
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}